@font-face {
    font-family: consolas;
    src: url(CONSOLAB.TTF);
}
/*/
#357ED4 dark blue
#131313 selected black
#373737 background black/dark gray
#67C9FF variable light blue
#BA73CF for loop purple
#47D9B3 class green
#444444 line index number gray
#E3E3E3 normal text white
#CE9178 string orange
#E5DEA5 input yellow
#6A9955 comment green
 */
#top_bar{height:100px; 
    background-color: #131313; 
    color: #DB9254; 
    font-size:5em;
    font-family: consolas;
    padding: 0.35%;
}
#title{height:50px; 
    background-color:rgba(3, 7, 28, 0.6);
    color:white;
    font-size: 0.7em;
    font-family: consolas;
}
#link_button{
    font-family: consolas;
    color:#67C9FF;
    background-color: #444444;
    border-color:#8888;;
    border-radius: 15px;
    font-size:1.3em;
}

input[type=submit]:hover{
    text-decoration:underline;
}

#box{
    background-color: #2a2a2a;
    margin:auto;
    margin-top: 2.5%;
    border-radius: 25px;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 2.5%;
}
#line_num{
    font-family: consolas;
    font-size:1.3em;
    color: #444444;

}
#class_text{
    font-family: consolas;
    color: #BA73CF;
    font-size:1.3em;
}
#text_input{
    font-family:consolas;
    color:#CE9178;
    font-size:1.2em;
    background-color: #13131369;
    border:#131313;
    padding-left: 0.25%;
    border-radius: 7.5px;

}
#select_bar{
    background-color: #131313; 
    height:auto;
}
#vartext{
    font-family: consolas;
    color:#67C9FF;
    font-size:1.3em;
}
#normaltext{
    font-family: consolas;
    color: #E3E3E3;
    font-size:1.3em;
}
#stringtext{
    font-family: consolas;
    color:#CE9178;
    font-size:1.3em;
}

#button{
    font-family: consolas;
    color:#E5DEA5;
    background-color: #444444;
    border-color:#8888;;
    border-radius: 15px;
    font-size:1.2em;
    
}
#commenttext{
    font-family: consolas;
    color:#6A9955;
    font-size:1.3em;
}

#inputtext{
    font-family: consolas;
    color: #E5DEA5;
    font-size:1.3em;
}