@font-face {
    font-family: consolas;
    src: url(CONSOLA.TTF);
}
@font-face {
    font-family: roboto_slab;
    src: url(Roboto_Slab.ttf);
}
/*/
#357ED4 dark blue
#131313 selected black
#373737 background black/dark gray
#67C9FF variable light blue
#BA73CF for loop purple
#47D9B3 class green
#444444 line index number gray
#E3E3E3 normal text white
#CE9178 string orange
#E5DEA5 input yellow
#6A9955 comment green
 */

 input:-webkit-autofill,
 input:-webkit-autofill:hover, 
 input:-webkit-autofill:focus, 
 input:-webkit-autofill:active{
     -webkit-background-clip: text;
     -webkit-text-fill-color: #CE9178;
     transition: background-color 5000s ease-in-out 0s;
     box-shadow: inset 0 0 20px 20px #23232329;
     background-color: #13131369;
 }

.top_bar{height:(1.25rem + 2.5vw); 
    background-color: #131313; 
    color: #DB9254; 
    font-size:calc(1rem + 2vw);
    font-family: consolas;
    transform:translate(0,-50%);
    padding: 0.35%;
}
#top_bar{height:(1.25rem + 2.5vw); 
    background-color: #131313; 
    color: #DB9254; 
    font-size:calc(1rem + 2vw);
    font-family: consolas;
    padding: 0.35%;
}
#url1:hover{text-decoration: underline;}
#url2:hover{text-decoration: underline;}
#url3:hover{text-decoration: underline;}
a{text-decoration: none;}
#title{height:50px; 
    background-color:rgba(3, 7, 28, 0.6);
    color:white;
    font-size: calc(0.45rem + 0.9vw);
    font-family: consolas;
}
.link_button{
    font-family: consolas;
    color:#67C9FF;
    background-color: #444444;
    border-color:#8888;;
    border-radius: 15px;
    font-size:calc(0.5rem + 1vw);
}
.link_text{
    font-family: consolas;
    color:#67C9FF;
    font-size:calc(0.5rem + 1vw);
}
.link_text:hover{
    text-decoration:underline;
}
input[type=submit]:hover{
    text-decoration:underline;
}
input[type=submit]:disabled{
    background-color: #3a3a3a !important;
    border-color:#3f3f3f88 !important;
    text-decoration:none;
}
input[type=text]:focus{
    outline: 2px solid #9a8b79;
  }
input[type=password]:focus{
    outline: 2px solid #9a8b79;    
  }
form{
    display:inline
}
#message{
    background-color: #83bc90d3;
    color:#ecfaec
}

#account{
    background-color: #2a2a2a;
    margin:auto;
    margin-top: 2.5%;
    border-radius: 25px;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 2.5%;
}

.box{
    background-color: #2a2a2a;
    margin:auto;
    margin-top: 2.5%;
    border-radius: 25px;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 2.5%;
    box-shadow: 0px 0px 30px #161717;
}
.line_num{
    font-family: consolas;
    font-size:calc(0.5rem + 1vw);
    color: #444444;

}
.class_text{
    font-family: consolas;
    color: #BA73CF;
    font-size:calc(0.5rem + 1vw);
}
#text_input{
    font-family:consolas;
    color:#CE9178;
    font-size:calc(0.45rem + 0.9vw);
    background-color: #13131369;
    border:#131313;
    padding-left: 0.25%;
    border-radius: 7.5px;

}
.text_input{
    font-family:consolas;
    color:#CE9178;
    font-size:calc(0.45rem + 0.9vw);
    background-color: #13131369;
    border:#131313;
    padding-left: 0.25%;
    border-radius: 7.5px;

}
.select_bar{
    background-color: #131313; 
    height:auto;
}
.vartext{
    font-family: consolas;
    color:#67C9FF;
    font-size:calc(0.5rem + 1vw);
}
.normaltext{
    font-family: consolas;
    color: #E3E3E3;
    font-size:calc(0.5rem + 1vw);
}

.stringtext{
    font-family: consolas;
    color:#CE9178;
    font-size:calc(0.5rem + 1vw);
}
.titletext{
    font-size: 7.5em; 
    font-family: roboto_slab;
    transform: translate(100%, -50%); 
    color:#CE9178;
    text-shadow: 0px 0px 18px #00000089;
    overflow-x: hidden;
}
.button[id="link_button"]{
    font-family: consolas;
    color:#E5DEA5;
    background-color: #444444;
    border-color:#8888;;
    border-radius: 15px;
    font-size:calc(0.45rem + 0.9vw);
    
}
.commenttext{
    font-family: consolas;
    color:#6A9955;
    font-size:calc(0.5rem + 1vw);
}
.background_text{
    font-family: consolas;
    color:#3535359c;
    font-size:calc(0.4rem + 0.8vw);
}
.inputtext{
    font-family: consolas;
    color: #E5DEA5;
    font-size:calc(0.5rem + 1vw);
}

#choice{
    font-family: consolas;
    color:#CE9178;
    font-size:calc(0.5rem + 1vw);
}
input[type="radio"] {
    color:#67C9FF;
    size: 20px
}
.container {
position: relative;
text-align: left;
color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-family: consolas;
    font-size: calc(0.8rem + 1.6vw)
}
.centered_subscript {
    position: absolute;
    top: 65%;
    left: 7%;
    transform: translate(-50%, -60%);
    font-family: consolas;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: calc(0.2rem + 0.4vw)
}
#totp{
    color:#67C9FF;
    size: 20px;
}
.alert{
    font-family: consolas;
    background-color: #ed5e5ea3;
    color: #e2b9b9;
    border-radius: 15px;
    padding:0.5%;
    font-size: calc(0.5rem + 1vw);
}
input[id="otp_input"]:focus{
    outline: 3px solid #b3e3ff9a;
    border: 7px solid #b3e3ff9a;
    box-shadow: 0px 0px 16px #b3e3ff72;
}
input[id="otp_input"]{
    font-family: consolas;
    border-radius: 25px;
    color:#727272;
    font-size: calc(1.5rem + 3vw);
    background-color: #E3E3E3;
    text-align: center;
    height:5vw;
    width:3vw;
    margin: 0.25vw;
    border: 7px inset #545454;
    box-shadow: inset 0 0 10px #1313137e;
    caret-color: transparent;    
}
.close{
    border-radius: 200vw;
    position:relative;
    right:0%;
    float:right;
    font-size: calc(0.5rem + 1vw);
    background-color: #c7c9e1;
    font-family: consolas;
    text-align: center;
    width:1.5vw;
    height:1.5vw;
    border:solid #00000000
}
button[class="close"]:active{
    background-color: #929292;
}
#otp{
    border-radius: 10px;
    border-width: 5px;
    text-align: center;
    margin:auto;
    padding:2%;
    box-shadow: 0 0 10px #131313d5;
    background-color: #303030bb;
    width:30vw;
}
/*
button{
    font-family: consolas;
    border-radius: 15px;
    background-color: #868686;
    text-align: center;
    font-size: calc(0.75rem + 1.5vw);
    color:#000000;
    width:auto;
    box-shadow: 0 6px #00000029
}

button:disabled{
    background-color: #565656;
}

button:hover{
    outline: 3px solid #b3e3ff9a;
    box-shadow: 0px 0px 16px #b3e3ff72;
}
button:active{
    transform: translateY(4px);
    border: inset 7px #626262;
    border-bottom-width: 4.75px;
    border-top-width: 8.75px;
    background-color: #7b7b7b;
    box-shadow: 0 2px #00000029;
    box-shadow: 0px 0px 16px #b3e3ff72, inset 0px 0px 16px #b3e3ff72; 
}
*/
