<!--email-->
<html style="background-color:#1b1b1b;margin:0; padding:20px;">
    </style>
    <body style="font-weight: bold;margin:0; padding:5%; font-family: 'Courier New', Courier, monospace;">
        <div style="background-color: #1b1b1b;">
        <div style="background-color: #131313; color: #DB9254; font-size:175%; padding: 0.35%;">
            C:\Kellett_Programming_Week\2fa>
        </div>
        
        <div style = "width: 80%; height: auto; background-color: #2a2a2a; margin:20px auto; margin-top: 2.95%; border-radius: 25px; padding-left: 15px; padding-top: 15px; margin-bottom: 2.95%;">
            <div style="font-size:100%; color: #444444;">
                01 | <span style="color:#6A9955; font-size:95%;"># You're almost there! </span>
            </div>
            <div style="font-size:100%; color: #444444;">
                02 | <span style="color:#6A9955; font-size:95%;"># Please enter the following OTP code back into the website: </span>
            </div>
            <div style="font-size:100%; color: #444444;">
                03 | <span style="color:#DB9254; font-size:95%;"># Don't share this OTP with anyone. </span>
            </div>
            <div style="font-size:100%; color: #444444;">
                04 | <span style="color:#DB9254; font-size:95%;"># We will never ask you for your password,</span>
            </div>
            <div style="font-size:100%; color: #444444;">
                05 | <span style="color:#DB9254; font-size:95%;"># OTP, or any of your personal information. </span>
            </div>
            <br>
        </div>

        <div style = "border-radius:80px;width: 30%; height: auto; background-color: #2a2a2a; margin:20px auto; padding-top: 2.5%; padding-bottom: 2.5%;padding-left: 12.5px; padding-right: 12.5px; min-width: 50%; max-width: 50%; ">
            <div style="font-size: 250%; text-align: center; padding: auto; margin:20px auto; color:#67C9FF;">
                {{code}}
            </div>
        </div>
        <img src="cid:yippee" style="margin:auto; display: block; width:500px ;height: 500px;" alt="Logo">
    </div>
    </body>
</html>