<!-- template -->
{% extends "base.html" %}
{% block title %}Login
{% endblock %}
<!-- Top bar text -->
{% block top_bar %}login
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<!--insert body-->
<div style = "width: 75vw; height: calc(0.45rem + 0.9vw)*8" class="box">

    <div class = "line_num">
        01 | <span class="class_text">import login</span>
    </div>
    
    <div class="line_num">
        02 | <span class="commenttext"># please enter email and password to login</span>

    </div>
    <!-- email login box -->
    <form method="post" action="#">
    <div class="line_num">
        03 | 
        <span class="vartext">email</span> 
        <span class="normaltext">=</span>
        <span class="inputtext">input(</span><!--
     --><span class="stringtext">"</span><!--
     --><input type="email" style="width: 14.5ch" oninput="this.style.width=update_length(this.value.length, this.style.width, 14)"
                                                                   id = "text_input"  placeholder=name@email.com
                                                                   name="email"><!--
     --><span class="stringtext">"</span><!--
     --><span class="inputtext">)</span> 
    </div>
    
    <!-- input password -->
    <div class="line_num">
        04 | 
        <span class="vartext">password</span> 
        <span class="normaltext">=</span>
        <span class="inputtext">input(</span><!--
     --><span class="stringtext">"</span><!--
     --><input type="password" style="width: 8.5ch" oninput="this.style.width=update_length(this.value.length, this.style.width, 7.5)"
                                                                id = "text_input"  placeholder=password
                                                                onpaste="return false;" ondrop="return false;" autocomplete="off"
                                                                name="password"><!--
     --><span class="stringtext">"</span><!--
     --><span class="inputtext">)</span>
    </div>
    <div class="line_num">
        05 | <input type="submit" class = "link_button" value = "login()"><br>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    <div class="line_num">
        06 | <div class="commenttext"></div>
    </div>
    <form method="post">
    <div class="line_num">
        07 | <span class="commenttext"># alternatively, you can use your Github/Google/Microsoft account to log in:</span>
    </div>
    <div class="line_num">
        08 | <button type="submit" class="link_button" name="github_sso" style="padding:0.25%"> github <img src="../static/github_logo.png" style="width:1em; position:relative; top:0.125em;right:0.125em"> </button> 
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    <div class="line_num">
        09 | <span class="commenttext"># signup:</span> 
    </div>
    <div class="line_num">
        10 | <span class="commenttext"># havent gotten an account yet? </span><!--
     --><a><form style="display : inline" action="signup"><input type="submit" class = "link_button" value = "sign up here!" /></form></a>
    </div><br>
    <script>
        function update_length(length, width, original_length){
            var updated_width = (original_length+0.5)+"ch";
            if ((parseInt(length)>=original_length)&&((parseInt(width)<=45)||parseInt(length)<=45))
                {updated_width = (length + 0.5)+'ch'};
            return updated_width;
        }
    </script>
</div>

{% endblock %}
