<!-- template -->
{% extends "base.html" %}
{% block title %}Sign Up
{% endblock %}
<!-- Top bar text -->
{% block top_bar %}signup
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<!--insert body-->
<div style = "width: 75vw; height: calc(0.45rem + 0.9vw)*10" id="box">

    <div id="line_num">
        01 | <span id="class_text">import sign_up</span>
    </div>

    <div id="line_num">
        02 | <span id="commenttext"># please enter username, email and password</span>
    </div>
    <form method="post">
    <!-- input username -->
    <div id="line_num">
        03 | 
        <span id="vartext">username</span> 
        <span id="normaltext">=</span>
        <span id="inputtext">input(</span><!--
     --><span id="stringtext">"</span><!--
     --><input type="text" style="width: 9.5ch" name="username" onkeypress="if (parseInt(this.style.width)<=45){this.style.width = (this.value.length + 2)+'ch'}; 
                                                                  if(parseInt(this.value.length)<=45){this.style.width=(this.value.length+2)+'ch'};"
                                                                  id = "text_input"  placeholder=your_name
                                                                  ><!--
     --><span id="stringtext">"</span><!--
     --><span id="inputtext">)</span> 
    </div>
    
    <!-- email login box -->
    <div id="line_num">
        04 | 
        <span id="vartext">email</span> 
        <span id="normaltext">=</span>
        <span id="inputtext">input(</span><!--
     --><span id="stringtext">"</span><!--
     --><input type="email" style="width: 14.5ch" name="email" onkeypress="if (parseInt(this.style.width)<=45){this.style.width = (this.value.length + 2)+'ch'}; 
                                                                   if(parseInt(this.value.length)<=45){this.style.width=(this.value.length+2)+'ch'};" 
                                                                   id = "text_input"  placeholder=name@email.com
                                                                   ><!--
     --><span id="stringtext">"</span><!--
     --><span id="inputtext">)</span> 
    </div>
    
    <!-- input password -->
    <div id="line_num">
        05 | 
        <span id="vartext">password</span> 
        <span id="normaltext">=</span>
        <span id="inputtext">input(</span><!--
     --><span id="stringtext">"</span><!--
     --><input type="password" style="width: 8.5ch" name="password" onkeypress="if (parseInt(this.style.width)<=45){this.style.width = (this.value.length + 2)+'ch'}; 
                                                                if(parseInt(this.value.length)<=45){this.style.width=(this.value.length+2)+'ch'};" 
                                                                id = "text_input"  placeholder=password
                                                                onpaste="return false;" ondrop="return false;" autocomplete="off"
                                                                ><!--
     --><span id="stringtext">"</span><!--
     --><span id="inputtext">)</span>
    </div>
    <div id="line_num">
        06 | 
        <span id="vartext">retype_password</span> 
        <span id="normaltext">=</span>
        <span id="inputtext">input(</span><!--
     --><span id="stringtext">"</span><!--
     --><input type="password" style="width: 8.5ch" onkeypress="if (parseInt(this.style.width)<=45){this.style.width = (this.value.length + 2)+'ch'}; 
                                                                if(parseInt(this.value.length)<=45){this.style.width=(this.value.length+2)+'ch'};" 
                                                                id = "text_input"  placeholder=password
                                                                onpaste="return false;" ondrop="return false;" autocomplete="off"
                                                                name="retype_password"><!--
     --><span id="stringtext">"</span><!--
     --><span id="inputtext">)</span>
    </div>
    <div id="line_num">
        07 | <span id="commenttext"># choose method of 2fa:</span>
        <input type = "radio" id="totp" name="2fa_type" value="totp">
        <label for="totp" id="vartext">TOTP(Google Authenticator)</span>
        <input type = "radio" id="email" name="2fa_type" value="email">
        <label for="email" id="vartext">Email 2FA</span> 
    </div>
    <div id="line_num">
        08 | <input type="submit" id = "button" value="sign_up()"><br>
    </div>
    
    </form>
    <div id="line_num">
        09 | <div id="commenttext"></div>
    </div>
    <div id="line_num">
        10 | <span id="commenttext"># login:</span> 
    </div>
    <div id="line_num">
        11 | <span id="commenttext"># already got an account? </span><!--
     --><a><form style="display : inline" action="login"><input type="submit" id = "link_button" value = "login here!" /></form></a>
    </div><br>
</div>
{% endblock %}
